{% extends "partials/post.j2" %}

{% set post_title = "Hello World" %}
{% set post_description = "An example post" %}
{% set post_date = "14 March 2017" %}

{% block post_content %}
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat
	euismod felis, at vulputate justo fringilla id. Cras enim urna, malesuada
	ac porttitor id, congue ut augue. Curabitur eu hendrerit purus. Sed at
	efficitur ipsum. Etiam sit amet lectus non ipsum consectetur hendrerit.
	Mauris sit amet finibus risus, vel pellentesque lorem. Aliquam et purus
	sit amet est fermentum euismod. Mauris accumsan ante nibh, ac pretium
	purus malesuada non. Pellentesque ut sagittis quam. Etiam pretium felis
	at efficitur tincidunt. Ut sed urna non nulla vehicula tempor et pharetra
	sem. Morbi volutpat purus eros, eget finibus velit hendrerit nec.
	Pellentesque eu ex pulvinar, elementum leo a, vehicula turpis.
	Suspendisse venenatis porttitor condimentum. Morbi nec turpis in enim
	luctus vulputate.

	Fusce et lorem sit amet ex laoreet tempus vitae quis lorem. Nunc lobortis
	tortor et tortor aliquet, quis venenatis nisl ornare. Phasellus aliquet
	mattis enim, eu auctor felis mattis at. Aliquam erat volutpat. Quisque
	semper libero eu cursus tempor. Cras sodales justo ut lectus dictum cursus.
	Integer blandit, quam nec rhoncus vestibulum, felis justo dignissim risus,
	ut elementum ante nulla et ligula. Integer vitae blandit mi, at molestie
	felis.

	Proin non risus porta, fringilla velit at, rhoncus libero. Fusce purus
	ante, pharetra vel quam vel, vulputate eleifend sapien. Sed tempor nec
	libero at tempor. Vestibulum et fringilla lorem, condimentum posuere purus.
	Nunc vulputate dui leo, sit amet pellentesque mi ullamcorper vehicula.
	Curabitur a ipsum urna. Sed efficitur tellus in purus eleifend tempus.
	Nam in erat risus.

	Morbi in mi nunc. Proin semper feugiat ex at pellentesque. Donec gravida
	tellus non ante tristique mattis. Quisque ullamcorper, justo eu porttitor
	pulvinar, dolor velit eleifend lorem, vitae consequat dui arcu a nunc.
	Fusce imperdiet ultrices tempor. Ut rutrum scelerisque pulvinar. Proin
	eu ornare lacus. Donec nec tortor sollicitudin, sagittis augue vitae,
	hendrerit leo. Fusce convallis bibendum massa, ac condimentum neque
	dignissim sed. Integer nec bibendum justo. Quisque in scelerisque ipsum.
	Aliquam erat volutpat.

	Aliquam scelerisque sed libero auctor tincidunt. Maecenas dapibus vel
	ante vitae lobortis. Curabitur vehicula semper eleifend. Vivamus
	vestibulum velit a faucibus cursus. Proin eu enim eu ex porta malesuada.
	Aenean tempor aliquam nibh, quis semper sem tincidunt ac. Aenean euismod
	ligula ut nibh elementum dapibus. Nam ac magna a libero faucibus viverra.
{% endblock %}
