{% extends "index.html" %}
{% set hide_quote = True %}

{% block content %}
	<div class="row centered">
		<div class="col-lg-10 col-lg-offset-1 w post">
			<h1>{{ post_title }}</h1>
			<i>{{ post_date }}</i>
			<p>{% block post_content %}{% endblock %}</p>
		</div>
	</div>
{% endblock %}
