<script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.backstretch.min.js" type="text/javascript"></script>

<script>
	$.backstretch("/static/images/bg.jpg", { speed: 0.5});

	$('.tooltip-demo').tooltip({
		selector: "[data-toggle=tooltip]",
		container: "body"
	});
</script>
