<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script>
	$('.tooltip-demo').tooltip({
		selector: "[data-toggle=tooltip]",
		container: "body"
	})
</script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<!-- More options: https://github.com/srobbin/jquery-backstretch -->
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script>
	$.backstretch("/static/images/bg.jpg", { speed: 0.5});
</script>
