{% macro loop_posts(num, div) %}
	{% for post in posts %}
		{% if loop.index % num == div %}
			<div class="box post show_posts">
				{% if post.url is defined %}
					<a href="{{ post.url }}">
						<h2>{{ post.title }}</h2>
					</a>
					<p>{{ post.description }}</p>
				{% else %}
					{% from ("posts/" + post) import post_title, post_description %}
					<a href="/posts/{{ post }}">
						<h2>{{ post_title }}</h2>
					</a>
					<p>{{ post_description }}</p>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
{% endmacro %}

{# Jinja2 indexes starting with 1 and not 0 in loops #}

<div class="row centered" style="margin-top: 30px;">
	<div class="col-sm-4 col-xs-12">
		{{ loop_posts(3, 1) }}
	</div>
	<div class="col-sm-4 col-xs-12">
		{{ loop_posts(3, 2) }}
	</div>
	<div class="col-sm-4 col-xs-12">
		{{ loop_posts(3, 0) }}
	</div>
</div>
